@page "/counter"
@using BlazorState
@using BlazorRedux.Client.Features.Counter

@inherits BlazorStateComponent

<h1>Counter</h1>

<CurrentCount/>
<CurrentCount /> Second component Instance

<IncreaseButton/>
<DecreaseButton/>
<ResetButton/>

@code {

}