@page "/counter"
@using BlazorState
@using BlazorRedux.Client.Features.Counter

@inherits BlazorStateComponent

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me to increase</button>
<button class="btn btn-primary" @onclick="DecrementCount">Click me decrease</button>

@code {
    CounterState CounterState => GetState<CounterState>();

    private int currentCount => CounterState.Count;

    void IncrementCount()
    {
        Mediator.Send(new CounterState.IncrementCountAction { Amount = 1 });
    }

    void DecrementCount()
    {
        Mediator.Send(new CounterState.DecrementCountAction { Amount = 1 });
    }
}