@page "/todo"
@using BlazorState
@using BlazorRedux.Client.Features.Todo

@inherits BlazorStateComponent

<h1>Todos</h1>

Pulling values from state object:
<ul>
    @for (int x=0;x< items.Count; x++)
    {
        <li>
            @items[@x]
        </li>
    }
</ul>

<input value="@stringValue" @oninput="(EventArgs) => {SetValue(EventArgs.Value.ToString());}" />
<button class="btn btn-primary" @onclick="AddTodo">Add Todo</button>

@code {

    TodoState State => GetState<TodoState>();

    private List<String> items => State.TheList;

    string stringValue = "";

    private void SetValue(string Value)
    {
        stringValue = Value;
    }

    private void AddTodo()
    {
        Mediator.Send(new TodosState.AddTodoAction { chore = stringValue });
        SetValue("");
    }
}