@page "/todo"
@using BlazorState
@using BlazorRedux.Client.Features.Todo

@inherits BlazorStateComponent

<h1>Todos</h1>

Pulling values from state object:
<ul>
    @foreach (var item in items)
    {
        <li>
        @item<span class="oi oi-delete" aria-hidden="true" @onclick="() => DeleteTodo(item)"></span>
        </li>
    }
</ul>

<AddTodo/>

@code {

    TodoState State => GetState<TodoState>();

    private List<String> items => State.TheList;


    private void DeleteTodo(string value)
    {
        Mediator.Send(new TodosState.DeleteTodoAction { payload = value });
    }
}