@using BlazorState
@inherits BlazorStateComponent

<p>Current count: @currentCount</p>


@code {
    CounterState CounterState => GetState<CounterState>();

    private int currentCount => CounterState.Count;

}