@using BlazorState
@inherits BlazorStateComponent

<button class="btn btn-primary" @onclick="IncrementCount">Increase</button>


@code {
    CounterState CounterState => GetState<CounterState>();

    private int currentCount => CounterState.Count;

    void IncrementCount()
    {
        Mediator.Send(new CounterState.IncrementCountAction { Amount = 1 });
    }

}