@using BlazorState
@inherits BlazorStateComponent

<button class="btn btn-primary" @onclick="ResetCount">Reset</button>


@code {
    CounterState CounterState => GetState<CounterState>();

    private int currentCount => CounterState.Count;


    void ResetCount()
    {
        Mediator.Send(new CounterState.ResetCountAction { Amount = 0 });
    }
}